.add-task {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
}


.header h1 {
    text-align: center;
}

.add-task-list {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.task-fillers {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.task-fillers-item1,
.task-fillers-item2 {
    width: 48%;
    /* Adjust as needed */
}

.task-fillers p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.task-fillers p b {
    margin-bottom: 5px;
}

.task-fillers input[type="text"],
.task-fillers textarea,
.task-fillers select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 0px;
}

.task-fillers textarea {
    height: 100px;
    resize: vertical;
}

.task-fillers select {
    height: 30px;
    /* Adjust as needed */
}

#create-task-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

#create-task-btn:hover {
    background-color: #45a049;
}

h3 {
    text-align: left;
}

.task-fillers-item {
    display: flex;
    flex-direction: column;
}

.task-fillers-item1 {
    display: flex;
    flex-direction: column;

}

.task-fillers-item2 {
    display: flex;
    flex-direction: column;

}

.date-filter {
    flex: 1;
    display: inline;
    margin-left: 120px;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 75%;
}

.date-filter label {
    font-weight: bold;
}